{% if pageContent is defined %}

{% set menu = knp_menu_get('BuilderPageBundle:Builder:buildMenu', [], {'menuName': pageContent.content.content|striptags, 'request':request}) %}
<div class="{{ pageContent.position }} {{ pageContent.content.class }}">
  <nav class="navbar navbar-light navbar-expand-xl nav-menu">
    
    <div class="navbar-brand">
      <img src="{{ asset( '/site/assets/images/logo.png'  ) }}" alt="logo" class="logo-brand"/> 
      {# <span>SITE</span> #}
    </div>
    <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="fas fa-1x"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    
    {{ knp_menu_render(menu, {'currentClass': 'active', 'template': 'BuilderPageBundle:Menu:knp_menu.html.twig', ancestorClass: 'open'}) }}
    </div>
  </nav>
</div>
{% else %}
MENU NON EXISTANT
{% endif %}
